body {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  main {
    display: flex;
    flex-direction: row;
    flex: auto;
  }
  
  article {
    flex: 2;
    overflow-y: auto;
  }
  
  aside {
    flex: 1;
    overflow-y: auto;
  }
  .logo {
    font-size: 24px;
    margin-right: 10px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
  }
  
  nav ul li:hover {
    text-decoration: underline;
  }